$transitionConfig: var(--ifm-transition-fast) var(--ifm-transition-timing-default);

.homePage {
  color: white;
  background: #1f222f;
  min-width: 900px;
}

.headerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .header {
    margin: 0 auto;
    padding: 0 116px;
    width: 1440px;
    max-width: 100%;
    display: flex;
    align-items: center;
    height: 64px;

    .left {
    }

    .right {
      margin-left: auto;

      .linkItem {
        cursor: pointer;
        display: inline-block;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.8);
        transition: color $transitionConfig;
        margin-right: 56px;
        text-decoration: none;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

.primarySection {
  display: flex;
  color: white;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 709px;
  background-position: center;
  background-size: cover;

  .logo {
    width: 80%;
    max-width: 488px;
    height: 38px;
    margin-top: 220px;
  }

  .description {
    width: 80%;
    max-width: 488px;
    font-size: 14px;
    margin-top: 27px;
  }

  .beginning {
    margin-top: 26px;

    .beginningLink {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 150px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      color: white;
      background: var(--rex-colors-primary-50);
      transition: background-color $transitionConfig, color $transitionConfig;

      &:hover {
        background: var(--rex-colors-primary-60);
      }
    }
  }
}

.featuresSection {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .feature {
    flex: 360px 1 1;
    height: 720px;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 50px;
    color: white;
    background-position: center 72%;
    background-size: cover;

    > p {
      font-size: 14px;
    }

    > a {
      color: #3862cf;
    }
  }
}

.resourcesSection {
  background: #1f222f;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 128px;

  .resourcesGroup {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    margin-left: -20px;

    .resource {
      width: 287px;
      height: 316px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      font-size: 24px;
      border-radius: 8px;
      cursor: pointer;
      margin-left: 20px;
      margin-top: 20px;
      transition: background-color 200ms;

      &:hover {
        background: rgba(255, 255, 255, 0.16);

        > .download {
          cursor: inherit;
          opacity: 1;
        }
      }

      > .name {
        margin-top: 44px;
      }

      > .download {
        transition: opacity 200ms;
        margin-top: 50px;
        opacity: 0;
      }

      > button {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 48px;
        font-size: 16px;
        color: #1f222f;
        border-radius: 4px;
        border: 1px white solid;
      }
    }
  }
}
