$transitionConfig: var(--ifm-transition-fast) var(--ifm-transition-timing-default);

@mixin small {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin maxWidth($size) {
  @media (max-width: $size) {
    @content;
  }
}

.homePage {
  color: white;
  background: #1f222f;
}

.headerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .header {
    margin: 0 auto;
    padding: 0 116px;
    width: 1440px;
    max-width: 100%;
    display: flex;
    align-items: center;
    height: 64px;

    @include small {
      padding: 0 16px;
    }

    .left {
      .logo {
        display: block;

        @include small {
          width: 186px;
        }
      }
    }

    .right {
      margin-left: auto;

      .linkItem {
        cursor: pointer;
        display: inline-block;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.8);
        transition: color $transitionConfig;
        margin-right: 56px;
        text-decoration: none;

        &:hover {
          color: #ffffff;
        }

        @include small {
          margin-right: 16px;
        }
      }
    }
  }
}

.primarySection {
  display: flex;
  color: white;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 712px;
  background-position: center;
  background-size: cover;

  @include small {
    height: 512px;
  }

  .logo {
    width: 80%;
    max-width: 488px;
    height: 38px;
    margin-top: 220px;
    @include small {
      margin-top: 150px;
    }
  }

  .description {
    width: 80%;
    max-width: 488px;
    font-size: 14px;
    margin-top: 27px;
  }

  .beginning {
    margin-top: 26px;

    .beginningLink {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 150px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      color: white;
      background: var(--rex-colors-primary-50);
      transition: background-color $transitionConfig, color $transitionConfig;

      &:hover {
        background: var(--rex-colors-primary-60);
      }
    }
  }
}

.featuresSection {
  margin: 0 auto;
  display: grid;
  grid: auto-flow / repeat(4, auto);

  @include maxWidth(1200px) {
    grid-template-columns: repeat(2, auto);
  }

  .feature {
    height: 720px;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 50px;
    color: white;
    background-position: center 72%;
    background-size: cover;

    .featuresDesc {
      margin-top: 20px;
    }

    > h2 {
      font-size: 32px;
      margin: 0 0 4px;
    }

    > p {
      font-size: 14px;
    }

    > a {
      color: #3862cf;
    }
  }

  @include maxWidth(650px) {
    grid-template-columns: repeat(1, auto);

    .feature {
      height: 480px;
      padding: 24px;

      > p {
        font-size: 14px;
      }

      > a {
        color: #3862cf;
      }
    }
  }
}

.resourcesSection {
  background: #1f222f;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 128px;

  > h2 {
    font-weight: normal;
    margin: 0;
    font-size: 32px;
  }

  .resourcesGroup {
    display: grid;
    grid: auto-flow / repeat(4, auto);
    gap: 20px;
    grid-gap: 20px;
    margin-top: 56px;

    @include maxWidth(1250px) {
      grid: auto-flow / repeat(2, auto);
      gap: 68px;
    }

    .resource {
      width: 287px;
      height: 316px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      font-size: 24px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 200ms;

      &:hover {
        background: rgba(255, 255, 255, 0.16);

        .download {
          cursor: inherit;
          opacity: 1;
        }
      }

      > .name {
        margin-top: 44px;
      }

      .download {
        transition: opacity 200ms;
        margin-top: 50px;
        opacity: 0;
      }

      @include maxWidth(1250px) {
        padding: 4px;
        width: 128px;
        height: 114px;
        font-size: 16px;

        .resourceLogo {
          width: 52px;
          height: 52px;
        }

        .download {
          display: none;
        }

        > .name {
          margin-top: auto;
        }
      }

      > button {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 48px;
        font-size: 16px;
        color: #1f222f;
        border-radius: 4px;
        border: 1px white solid;
      }
    }
  }
}
